<div class="card border-primary text-center" id="card2" style="width: 10rem;">
    <div class="card-header">Educación</div>                
    <img src="imagenes_frontend/" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">...</h4>
        <p class="card-text">...</p>
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEducacion">Ver más...</a>
        <div class="modal fade" id="modalEducacion">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="titulosObtenidos">Educación</h3>
                        <button class="botonEditar botonEdicionActivo" type="button" id="editarTitulos" name="botonEditar"><img src="img_bootstrap/pencil-square.svg"></button>
                        <button type="button" class="btn-close" name="button" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body" id="modalBodyEducacion">
                    <button class="btn btn-outline-danger ms-3 mb-3 btn-sm descripcionBtnEliminarSegmentoEducacion" type="button" id="botonsaberSiEliminoSegmentoEducacion"> X</button>
                    <template id="templateEducacion">
                    <div class="border rounded p-1 border-warning" id="templateEducaciones" name="templateEducacion" cbxname="cBxSegmentoEducacion">
                      <input type="checkbox" id="checkBoxSaberSiEliminoSegmentoEducacion" name="cBxSegmentoEducacion">
                      <!--<button class="btn btn-outline-danger ms-3 mb-3 btn-sm descripcionBtnEliminarSegmentoEducacion" type="button" id="botonsaberSiEliminoSegmentoEducacion"> X</button> -->
                      <div class="row" id="filaModalEducacion">
                        <div class="col" id="col1DefilaModalEducacion">
                          <label for="institucion" class="form-label">Institución: </label>
                        </div>
                        <div class="col" id="col2DefilaModalEducacion">
                          <p class="text border rounded-end border-dark" id="inputEducacion" name="institucion" nameb="institucion">Complete aquí</p>
                        </div>
                      </div>
                      <div class="row" id="filaModalEducacion">
                        <div class="col" id="col1DefilaModalEducacion">
                          <label for="carrera" class="form-label">Carrera: </label>
                        </div>
                        <div class="col" id="col2DefilaModalEducacion">
                          <p class="text border rounded-end border-dark" id="inputEducacion" name="carrera" nameb="carrera">Complete aquí</p>
                        </div>
                      </div>
                        <div class="row">
                          <div class="col">
                            <label for="estudioEnCurso" class="form-label">Cursando actualmente: </label>
                          </div>
                          <div class="col">
                            <input type="checkbox" class="form-check-input" id="estudiaActualmenteCBox" name="cBx_estudiaActualmente" nameb="cBx_estudiaActualmente">
                          </div>
                        </div>
                      <div class="row habilitarTituloProfesionalActivo" id="filaModalEducacionTituloProfesional" name="filaModalEducacionTituloProfesional" nameb="filaModalEducacionTituloProfesional">
                        <div class="col" id="col1DefilaModalEducacion">
                          <label for="tituloProfesional" class="form-label">Título: </label> 
                        </div>
                        <div class="col" id="col2DefilaModalEducacion">
                          <p class="text border rounded-end border-dark" id="inputEducacion" name="tituloProfesional" nameb="tituloProfesional">Complete aquí</p>
                        </div>
                      </div>
                      <div class="row habilitarTituloProfesionalActivo" id="filaModalEducacionTituloFechaObtencion" name="filaModalEducacionTituloFechaObtencion" nameb="filaModalEducacionTituloFechaObtencion">
                          <div class="row">
                            <div class="col">
                              <label for="col" class="form-label">Fecha de obtención del título: </label>
                            </div> 
                            <div class="col"><input type="date" class="text" id="inputEducacion" name="fechaObtencionTitulo" nameb="fechaObtencionTitulo" value=""
                                min="1900-01-01" max="3000-12-31">
                            </div>
                          </div>
                      </div>
                    </div><!--Cierre filaTemplateModalEducacion-->
                    </template>

                    </div> <!--Cierre ModalBody-->
                    <div class="modal-footer">
                      <button class="btn btn-primary translate-middle-x botonAgregarActivo" id="btnAgregarEducacion">
                        Agregar estudio
                      </button>
                      <button type="button" class="btn btn-success" name="button" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div><!--Cierre modalEducacion-->
    </div><!--Cierre Body card-->
</div>
