<div class="btn-group">
    <button type="button" class="btn_RedesSociales btn btn-danger rounded-pill dropdown-toggle m-3" style="color:white;" data-bs-toggle="dropdown" aria-expanded="false">
    <!--  <img src="img_bootstrap/diagram-3.svg"> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
      </svg>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" style="background-color:white" >
          <button class="botonEditar botonEdicionActivo ms-3" type="button" id="editarRedesSociales" name="botonEditar" data-bs-toggle="modal" data-bs-target="#modalRedesSociales"><img src="img_bootstrap/pencil-square.svg"></button>
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-toggle="toast" data-bs-target="#exampleModal">
            <div class="toast-body">
              Hello, world! This is a toast message.
              <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm">Take action</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
              </div>
            </div>
          </div>
          <!--
      <li><a class="dropdown-item" id="face1" href=""><img class="facesvg" src="img_bootstrap/facebook.svg"> Facebook</a></li>
      <li><a class="dropdown-item" id="inst1" href=""><img class="instasvg" src="img_bootstrap/instagram.svg"> Instagram</a></li>
      <li><a class="dropdown-item" id="whts1" href=""><img class="whtsappsvg" src="img_bootstrap/whatsapp.svg"> Whatsapp</a></li>
      <li><a class="dropdown-item" id="gthb1" href=""><img class="githubsvg" src="img_bootstrap/github.svg"> Github</a></li> -->
    </ul>
  </div>
