/*Estilos de botones para redes sociales*/
a .facesvg {
   width: 30px;
   height: 30px;
   background-color: blue;
}
a .instasvg {
   width: 30px;
   height: 30px;
   background-color: orange;
}
a .whtsappsvg {
   width: 30px;
   height: 30px;
   background-color: green;
}
a .githubsvg {
   width: 30px;
   height: 30px;
   background-color: white;
}
#face1 {
   color: blue;
   font-family: Arial;
}
#inst1 {
   color: orange;
   font-family: Arial;
}
#whts1 {
   color: green;
   font-family: Arial;
}
#gthb1 {
   color: black;
   font-family: Arial;
}
.btn_RedesSociales:hover::before{
   content: "Redes Sociales";
   white-space: nowrap;
   margin-left: 3%;
}
/*FIN de Estilos de botones para redes sociales*/

/*Estilos para letras de Header*/
#headerCol2 {
   font-size: 30px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white;
}
/*FIN de Estilos para letras de Header*/

/*Estilo de filas*/
#fila2{
   
}
/*Fin de Estilo de filas*/

/*Estilo de imagenes*/
#img2{
   width:81rem;
   height:27rem;
}

/*Fin de estilo de imagenes*/

/*Estilo de formulario para inicio de sesión*/
#formInicioSesion{
   width: 20   rem;
}
.btn_InicioSesion:hover::before{
   content: "Iniciar Sesión";
   white-space: nowrap;
   margin-left: 3%;
}
/*Fin del Estilo de formulario para inicio de sesión*/

/*Estilos para checks en Registro de Usuario*/
.btn_Registro:hover::after{
   content: "Registrarse";
   white-space: nowrap;
   margin-left:;
}
.iconoValidacion_correcto{
   background-color: green;
   border-color: green;
   pointer-events: none;
   filter:none;
   opacity: 90;
}
.iconoValidacion_incorrecto{
   background-color: red;
   border-color: red;
   pointer-events: none;
   filter:none;
   opacity: 90;
}
.iconoValidacion_neutral{
   background-color: white;
   border-color: white;
   pointer-events: none;
   filter:none;
   opacity: 90;
}
/*Mesanjes de alerta-completar campos en Registro*/
.mensajeAtencionOculto{
   display:none;
}
.mensajeAtencionActivo{
   display:block;
}

/*Modals del curriculum*/
.tarjetaCvOculto{
   display:none;
}
.tarjetaCvActivo{
   display:block;
}
/*Botones de edición*/
.botonEdicionOculto{
   display:none;
}
.botonEdicionActivo{
   display:block;
}
.formDropdownOculto{
   display:none;
}
.formDropdownActivo{
   display:block;
}
.cerrarSesion:hover::after{
   content: "Cerrar Sesión";
   white-space: nowrap;
   margin-left: 3%;
   
}
.botonEditar:hover::after{
   content: "Editar sección";
   white-space: nowrap;
   margin-left: 3%;
   
}
/*Edición del contenido de las tarjetas*/
.inputEdicionDeSeccionesOculto{
   display:none;
}
.inputEdicionDeSeccionesActivo{
   display:block;
}
.botonAgregarTrabajoOculto{
   display:none;
}
.botonAgregarTrabajoActivo{
   display:block;
}
.agregarFotoProyectoOculto{
   display: none;
}
.agregarFotoProyectoActivo{
   display: block;
}
.descripcionBtnOcultar:hover::before{
   content: "Ocultar carga de foto";
   white-space: nowrap;
}
.habilitarTituloProfesionalOculto{
   display: none;
}
.habilitarTituloProfesionalActivo{
   display: block;
}
.descripcionBtnEliminarSegmentoEducacion:hover::before{
   content: "Eliminar estudio";
   white-space: nowrap;
}
.descripcionBtnEliminarSegmentoLaboral:hover::before{
   content: "Eliminar trabajo";
   white-space: nowrap;
}
.descripcionBtnEliminarSegmentoProyecto:hover::before{
   content: "Eliminar proyecto";
   white-space: nowrap;
}
/*Estilos de modals*/
.modal-header{
   background-color: orange;
}
.modal-footer{
   background-color: rgb(73, 12, 114);
}
#inputDatosPersonales{
   background-color: white;
}
/**/  
/**/  
/**/  
/**/  
/**/  
/**/  
/**/  
/**/  
/**/  
/**/  
/**/  
/**/